\*.pyc

# Mac attribute files as seen from unix
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
develop-eggs/
eggs/
.eggs/
sdist/
share/python-wheels/
*.egg-info/
.installed.cfg
conda env export --no-builds | grep -v "^prefix:" > updated.yml*.egg
build/

Screenshot 2023-08-06 at 2.26.45 PM.png
Screenshot 2023-08-09 at 10.41.52 AM.png
Screenshot 2023-08-10 at 1.29.28 PM.png
Screenshot 2023-08-23 at 9.37.35 AM.png
Screenshot 2023-08-23 at 9.52.53 AM.png
Screenshot 2023-08-25 at 1.40.24 PM.png
Screenshot 2023-08-25 at 5.49.54 PM.png
Screenshot 2023-08-27 at 10.56.50 AM.png
Screenshot 2023-08-28 at 9.54.25 AM.png
Screenshot 2023-08-30 at 8.37.01 AM.png
Screenshot 2023-08-31 at 4.18.03 PM.pngdist/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version


# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

\*.DS_Store

tests/midas2_output/
tests/midasdb_newdb/
*scratch/
